.blog {
  position: relative;
  min-height: calc(100vh - 120px);
  background-color: var(--background-color);

  .blog-wrapper {
    position: relative;
    @include absolute-center;
    columns: 2;
    width: 60vw;

    .blog-divider {
      position: absolute;
      @include absolute-center;
      top: 48px;
      width: 2px;
      height: calc(100% - 96px);
      background-color: var(--text-color-tertiary);
    }
  }
  @media screen and (max-width: 768px) {
    .blog-divider {
      display: none;
    }

    .blog-wrapper {
      width: 100%;
      columns: 1;
    }
  }
}
