.footer {
  @include flex-center;
  flex-direction: column;
  padding: 4px 0;
  height: 40px;
  background-color: var(--background-color);

  .footer-text {
    color: var(--text-color-primary);
    letter-spacing: 2px;
    text-indent: 2px;
    font-size: 14px;
    text-decoration: none;
  }

  @media screen and (max-width: 480px) {
    align-items: flex-start;
    padding: 4px 48px;
    .footer-text {
      letter-spacing: 0px;
      text-indent: 1px;
    }
  }
}
