/* 
 * color
 */
$themes: (
  light: (
    text-color-primary: #111,
    text-color-secondary: #444,
    text-color-tertiary: #777,
    text-color-emphasis: #e94328,

    text-hover-color-primary: #777,
    text-hover-color-secondary: #888,
    text-hover-color-tertiary: #ccc,

    background-color: #fff,
  ),
  dark: (
    text-color-primary: #bbb,
    text-color-secondary: #999,
    text-color-tertiary: #777,

    text-hover-color-primary: #eee,
    text-hover-color-secondary: #ddd,
    text-hover-color-tertiary: #ccc,

    background-color: #222,
  ),
);

.theme {
  @each $style, $val in map-get($map: $themes, $key: light) {
    --#{$style}: #{$val};
  }

  .dark & {
    @each $style, $val in map-get($map: $themes, $key: dark) {
      --#{$style}: #{$val};
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@mixin text-title {
  color: var(--text-color-primary);
}

@mixin text-content {
  color: var(--text-color-secondary);
}

@mixin text-title-hover {
  color: var(--text-hover-color-primary);
}

@mixin clickable {
  cursor: pointer !important;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin anim-up-in-begin {
  opacity: 0;
  transform: translateY(20%);
  transition: all 0.5s ease-in-out;
}

@mixin anim-up-in-end {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

@mixin anim-right-in-begin {
  opacity: 0;
  transform: translateX(-20%);
  transition: all 0.5s ease-in-out;
}

@mixin anim-right-in-end {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}

@mixin anim-left-in-begin {
  opacity: 0;
  transform: translateX(20%);
  transition: all 0.5s ease-in-out;
}

@mixin anim-left-in-end {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}

@mixin absolute-center {
  left: 50%;
  transform: translateX(-50%);
}

@mixin background {
  background-color: var(--background-color);
}

@import "./style/components/basic/navbar.scss";
@import "./style/components/basic/scrollTop.scss";
@import "./style/components/basic/footer.scss";
@import "./style/components/blogcard.scss";
@import "./style/views/blog.scss";
@import "./style/markdown.scss";
